<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>~En Cuisine~</title>

    <!-- Favicon -->
    <link rel="icon" href="/assets/img/core-img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="/assets/css/style.css">

</head>

<body>
    <!-- Preloader -->
<!--    <div id="preloader">-->
<!--        <i class="circle-preloader"></i>-->
<!--        <img src="/assets/img/core-img/salad.png" alt="">-->
<!--    </div>-->

    <!-- Search Wrapper -->
    <div class="search-wrapper">
        <!-- Close Btn -->
        <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" method="post">
                        <input type="search" name="search" placeholder="Type any keywords...">
                        <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-between">
                    <!-- Breaking News -->
                    <div class="col-12 col-sm-6">
                        <div class="breaking-news">
                            <div id="breakingNewsTicker" class="ticker">
                                <ul>
                                    <li><a href="#">Hello World!</a></li>
                                    <li><a href="#">Welcome to ~ En Cuisine ~</a></li>
                                    <li><a href="#">Enjoy Delicious Meals!</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Top Social Info -->
                    <div class="col-12 col-sm-6">
                        <div class="top-social-info text-right">
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="delicious-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="deliciousNav">

                        <!-- Logo -->
                        <a class="nav-brand" th:href="@{/index}"><img src="/assets/img/EnCuisine_logoFinal.svg" style="width: 100px" alt="En Cuisine Logo"></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul >
                                    <li style="justify-self: center; align-self: center;" class="active"><a th:href="@{/index}">Home</a></li>
                                    <li><a href="#">Register</a>
                                        <ul class="dropdown">
                                            <li><a th:href="@{/login}">Login</a></li>
                                            <li><a th:href="@{/signup}">Sign Up</a></li>
                                        </ul>
                                    </li>
                                </ul>

                                <!-- Newsletter Form -->
                                <div class="search-btn">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </div>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('/assets/img/bg-img/bg1.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Savor the Extraordinary</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Discover recipes that transform everyday meals into culinary delights. From quick weeknight dinners to gourmet treats.</p>
                                <a th:href="@{/main}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Recipes</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('/assets/img/bg-img/bg6.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Cooking up Memories</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">Your go-to place for delicious, easy-to-follow recipes. Explore diverse recipes for every taste and occasion.</p>
                                <a th:href="@{/main}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Browse</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Hero Slide -->
            <div class="single-hero-slide bg-img" style="background-image: url('/assets/img/bg-img/bg7.jpg');">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                            <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="300ms">Bringing Taste to Life</h2>
                                <p data-animation="fadeInUp" data-delay="700ms"> Simple recipes, big flavors, and cooking tips all in one place.Join a community passionate about food and flavor</p>
                                <a th:href="@{/signup}" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Register Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Best Receipe Area Start ##### -->
    <section class="best-receipe-area mt-5">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h3>Recipe Recommendations</h3>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Single Best Receipe Area -->
                <a th:href="@{/recipeDetails/{recipeId}(recipeId=${recipe.id})}" th:each="recipe: ${recipes}" class="col-12 col-sm-6 col-lg-4">
                    <div class="single-best-receipe-area mb-30">
                        <img th:unless="${recipe.imageUrl==null}" th:src="${recipe.imageUrl}" alt="Recipe Image">
                        <img th:if="${recipe.imageUrl==null}" src="/assets/img/food1.webp" alt="Recipe Image">

                        <div class="receipe-content px-3">
                            <h5 style="font-size: 25px; font-weight: 900;" th:text="${recipe.name}">Sushi Easy Recipe</h5>
                            <div class="ratings">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>
    <!-- ##### Best Receipe Area End ##### -->

    <!-- ##### CTA Area Start ##### -->
    <section class="cta-area bg-img bg-overlay" style="background-image: url(/assets/img/bg-img/bg4.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <!-- Cta Content -->
                    <div class="cta-content text-center">
                        <h2 style=" font-weight: 900;">Have Ingredients But Dont Know What To Cook?</h2>
                        <p style="font-size: 20px;">Our website offers a curated collection of delicious, easy-to-make recipes with clear instructions and beautiful photos. Whether you're a beginner or a seasoned cook, find inspiration for every meal, from quick snacks to festive dinners. Join us and turn cooking into a joyful adventure. <br>Start by entering the ingredients in your fridge</p>
                        <a th:href="@{/main}" class="btn delicious-btn">Discover</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### CTA Area End ##### -->

    <!-- ##### Follow Us Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 style="font-size: 25px;">Follow Us On Social Media</h5>
                </div>
            </div>
        </div>
        <!-- Instagram Feeds -->
        <div class="insta-feeds d-flex flex-wrap">
            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta1.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta2.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta3.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta4.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta5.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta6.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
                </div>
            </div>

            <!-- Single Insta Feeds -->
            <div class="single-insta-feeds">
                <img src="/assets/img/bg-img/insta7.jpg" alt="">
                <!-- Icon -->
                <div class="insta-icon">
                    <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Follow Us Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 h-100 d-flex flex-wrap align-items-center justify-content-between">
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="index.html"><img src="/assets/img/EnCuisine_logoFinal.svg" alt="En Cuisine Logo" style="width: 100px"></a>
                    </div>
                    <!-- Copywrite -->
                    <p>~En Cuisine~ Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Files ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/assets/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/assets/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="/assets/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="/assets/js/active.js"></script>
<!--    <script>-->
<!--        async function fetchRecipes(){-->
<!--            try{-->
<!--                let response = await fetch("https://www.themealdb.com/api/json/v1/1/search.php?f=a")-->
<!--                if (!response.ok){-->
<!--                    throw new Error(`HTTP error! status: ${response.status}` )-->
<!--                }-->
<!--                const data = await response.json()-->
<!--                console.log(data)-->

<!--                // const params = new URLSearchParams()-->
<!--                // params.append("meals", data)-->


<!--                fetch(`/meals`,{-->
<!--                    method: "POST",-->
<!--                    headers: {-->
<!--                        "Content-Type": "application/json",-->
<!--                    },-->
<!--                    body: data,-->
<!--                }).then(response => {-->
<!--                    response.text()-->
<!--                }).then(data => alert(data))-->
<!--                    .catch(error => alert("Error: " + error))-->
<!--            } catch (error){-->
<!--                console.error("Fetch error: " + error)-->
<!--            }-->
<!--        }-->
<!--        fetchRecipes()-->
<!--    </script>-->
</body>

</html>